<%- include('partials/header') %>
<main>
    <div class="dashboard">
        <h1>Welcome to the Dashboard!</h1>
        <div class="user-info">
            <h2>Account Information</h2>
            <div class="user-detail">
                <p>
                    <span class="label">Name:</span>
                    <span class="value"><%= user.name %></span>
                </p>
                <p>
                    <span class="label">Email:</span>
                    <span class="value"><%= user.email %></span>
                </p>
                <p>
                    <span class="label">Role:</span>
                    <span class="value"><%= user.roleName %></span>
                </p>
                <p>
                    <span class="label">Date Created:</span>
                    <span class="value"><%= new Date(user.createdAt).toLocaleDateString() %></span>
                </p>
            </div>
            <h2>Session Information</h2>
            <!-- Relevant operatinal data, only for admin -->
            <div class="session-debug">
                <pre><%= JSON.stringify(sessionData, null, 2) %></pre>
            </div>
            <div class="dashboard-actions">
                <a href="/logout" class="logout-button">Logout</a>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer') %>