<%- include('partials/header') %>
<main>
    <div class="dashboard">
        <h1><%= dashboardContent.title %></h1>
        <div class="dashboard-content">
            <% if (user.roleName === 'admin') { %>
                <h2>Admin Management Links</h2>
                <div class="admin-management">
                    <a href="/register/list" class="submit-button">View and Manage Users</a>
                    <a href="/contact/responses" class="submit-button">View and Manage Contact Messages</a>
                </div>
            <% } %>
            <h2>Account Information</h2>
            <div class="user-detail">
                <p>
                    <span class="label">Name:</span>
                    <span class="value"><%= user.name %></span>
                </p>
                <p>
                    <span class="label">Username:</span>
                    <span class="value"><%= user.username %></span>
                </p>
                <p>
                    <span class="label">Email:</span>
                    <span class="value"><%= user.email %></span>
                </p>
                <p>
                    <span class="label">Role:</span>
                    <span class="value"><%= user.roleName %></span>
                </p>
                <p>
                    <span class="label">Date Created:</span>
                    <span class="value"><%= new Date(user.createdAt).toLocaleDateString() %></span>
                </p>
                <% if (user.userId === userInfo.userId) { %>
                    <a href="/register/<%= user.userId %>/edit" class="action-button">Edit</a>
                <% } %>
            </div>
            <% if (user.roleName === 'instructor') { %>
                <h2>Recieved Messages</h2>
                <div class="message-info">
                    <% if (dashboardContent.receivedMessages.length == 0) { %>
                        <div class="no-messages">
                            <p>No messages recieved.</p>
                        </div>
                    <% } else { %>
                        <% dashboardContent.receivedMessages.forEach(message => { %>
                            <div class="message">
                                <p>
                                    <span class="label">Recipient: </span>
                                    <span class="value"><%= message.recipient %></span>
                                </p>
                                <p>
                                    <span class="label">Sent By:</span>
                                    <span class="value"><%= message.sentBy %></span>
                                </p>
                                <p>
                                    <span class="label">Type: </span>
                                    <span class="value"><%= message.messageType %></span>
                                </p>
                                <p>
                                    <span class="label">Subject: </span>
                                    <span class="value"><%= message.subject %></span>
                                </p>
                                <p>
                                    <span class="label">Message: </span>
                                    <span class="value"><%= message.message %></span>
                                </p>
                                <p>
                                    <span class="label">Date Submitted:</span>
                                    <span class="value"><%= new Date(message.submitted).toLocaleDateString() %></span>
                                </p>
                                <p>
                                    <span class="label">Status:</span>
                                    <span class="value"><%= message.status %></span>
                                </p>
                                <% if (user.roleName === 'admin' || user.roleName === 'instructor') { %>
                                    <div class="user-actions">
                                            <a href="/contact/responses/<%= message.id %>/change-status" class="action-button">Change Status</a>
                                        <% if (user.roleName === 'admin') { %>
                                            <form method="post" action="/contact/responses/<%= message.id %>/delete" style="display: inline;">
                                                <button type="submit" onclick="return confirm('Are you sure you want to delete this message?')" class="action-button">Delete</button>
                                            </form>
                                        <% } %>
                                    </div>
                                <% } %>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
            <% } %>
            <% if (user.roleName === 'instructor' || user.roleName === 'user') { %>
                <h2>Sent Messages</h2>
                <div class="message-info">
                    <% if (dashboardContent.sentMessages.length == 0) { %>
                        <div class="no-messages">
                            <p>No messages sent.</p>
                        </div>
                    <% } else { %>
                        <% dashboardContent.sentMessages.forEach(message => { %>
                            <div class="message">
                                <p>
                                    <span class="label">Recipient: </span>
                                    <span class="value"><%= message.recipient %></span>
                                </p>
                                <p>
                                    <span class="label">Sent By:</span>
                                    <span class="value"><%= message.sentBy %></span>
                                </p>
                                <p>
                                    <span class="label">Type: </span>
                                    <span class="value"><%= message.messageType %></span>
                                </p>
                                <p>
                                    <span class="label">Subject: </span>
                                    <span class="value"><%= message.subject %></span>
                                </p>
                                <p>
                                    <span class="label">Message: </span>
                                    <span class="value"><%= message.message %></span>
                                </p>
                                <p>
                                    <span class="label">Date Submitted:</span>
                                    <span class="value"><%= new Date(message.submitted).toLocaleDateString() %></span>
                                </p>
                                <p>
                                    <span class="label">Status:</span>
                                    <span class="value"><%= message.status %></span>
                                </p>
                                <% if (user.roleName === 'admin') { %>
                                    <div class="user-actions">
                                        <form method="post" action="/contact/<%= message.id %>/delete" style="display: inline;">
                                            <button type="submit" onclick="return confirm('Are you sure you want to delete this message?')" class="action-button">Delete</button>
                                        </form>
                                    </div>
                                <% } %>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
            <% } %>
            <% if (user.roleName === 'admin' || user.roleName === 'instructor') { %>
                <h2>Tutorials</h2>
                <% if (dashboardContent.tutorials.length == 0) { %>
                        <div class="no-tutorials">
                            <p>No tutorials to display.</p>
                        </div>
                    <% } else { %>
                        <% dashboardContent.tutorials.forEach(tutorial => { %>
                            <div class="tutorial-info">
                                <p>
                                    <span class="label">Slug: </span>
                                    <span class="value"><%= tutorial.tutorialSlug %></span>
                                </p>
                                <p>
                                    <span class="label">Title: </span>
                                    <span class="value"><%= tutorial.title %></span>
                                </p>
                                <p>
                                    <span class="label">Last Updated: </span>
                                    <span class="value"><%= new Date(tutorial.lastUpdated).toLocaleDateString() %></span>
                                </p>
                                <p>
                                    <span class="label">Author: </span>
                                    <span class="value"><%= tutorial.author %></span>
                                </p>
                                <% if (user.roleName === 'admin' || user.roleName === 'instructor') { %>
                                    <div class="user-actions">
                                        <a href="/tutorials/<%= tutorial.tutorialSlug %>/edit" class="action-button">Edit</a>
                                        <form method="post" action="/tutorials/<%= tutorial.tutorialSlug %>/delete" style="display: inline;">
                                            <button type="submit" onclick="return confirm('Are you sure you want to delete this tutorial?')" class="action-button">Delete</button>
                                        </form>
                                    </div>
                                <% } %>
                            </div>
                        <% }); %>
                    <% } %>
            <% } %>
                <% if ( user.roleName === 'admin' || user.roleName === 'instructor') { %>
                    <h2>Received Comments</h2>
                <% } %>
                <div class="comments">
                    <% if (dashboardContent.tutorialComments.length == 0 || !dashboardContent.postedComments) { %>
                        <div class="no-comments">
                            <p>No comments to display.</p>
                        </div>
                    <% } else { %> <!-- Else Statement -->
                        <% if (user.roleName === 'admin' || user.roleName === 'instructor') { %> <!-- Permissions -->
                            <% dashboardContent.tutorials.forEach(tutorial => { %> <!-- Foreach tutorial -->
                                <% Object.values(dashboardContent.tutorialComments).forEach(comment => { %> <!-- Foreach comment -->
                                    <% if (comment.postedIn === tutorial.tutorialSlug) { %> <!-- postedIn -->
                                        <div class="comment">
                                            <p>
                                                <span class="label">Posted In: </span>
                                                <span class="value"><%= comment.postedIn %></span>
                                            </p>
                                            <p>
                                                <span class="label">Sender: </span>
                                                <span class="value"><%= comment.sentBy %></span>
                                            </p>
                                            <p>
                                                <span class="label">Date Posted: </span>
                                                <span class="value"><%= new Date(comment.createdAt).toLocaleDateString() %></span>
                                            </p>
                                            <p>
                                                <span class="label">Message: </span>
                                                <span class="value"><%= comment.message %></span>
                                            </p>
                                            <div class="user-actions">
                                                <% if (user.username == comment.sentBy) { %>
                                                    <a href="/tutorials/<%= comment.id %>/edit-comment" class="action-button">Edit</a>
                                                <% } %>
                                                <% if (user.roleName === 'admin' || user.username == comment.sentBy) { %>
                                                    <form method="post" action="/tutorials/<%= comment.id %>/delete-comment" style="display: inline;">
                                                        <button type="submit" onclick="return confirm('Are you sure you want to delete this comment?')" class="action-button">Delete</button>
                                                    </form>
                                                <% } %>
                                            </div>
                                        </div>
                                    <% } %> <!-- postedIn -->
                                <% }); %> <!-- Foreach comment -->
                            <% }); %> <!-- Foreach tutorial -->
                        <% } %> <!-- Permissions -->
                        <h2>Posted Comments</h2>
                        <% if (!dashboardContent.postedComments) { %> <!-- Comment object length -->
                            <div class="no-comments">
                                <p>No comments to display.</p>
                            </div>
                        <% } else { %>
                            <% Object.values(dashboardContent.postedComments).forEach(comment => { %> <!-- Foreach comment -->
                                <% if (comment.sentBy === user.username) { %> <!-- sentBy -->
                                    <div class="comment">
                                        <p>
                                            <span class="label">Posted In: </span>
                                            <span class="value"><%= comment.postedIn %></span>
                                        </p>
                                        <p>
                                            <span class="label">Sender: </span>
                                            <span class="value"><%= comment.sentBy %></span>
                                        </p>
                                        <p>
                                            <span class="label">Date Posted: </span>
                                            <span class="value"><%= new Date(comment.createdAt).toLocaleDateString() %></span>
                                        </p>
                                        <p>
                                            <span class="label">Message: </span>
                                            <span class="value"><%= comment.message %></span>
                                        </p>
                                        <div class="user-actions">
                                            <% if (user.roleName === 'admin' || user.username == comment.sentBy) { %>
                                                <a href="/tutorials/<%= comment.id %>/edit-comment" class="action-button">Edit</a>
                                                <form method="post" action="/tutorials/<%= comment.id %>/delete-comment" style="display: inline;">
                                                    <button type="submit" onclick="return confirm('Are you sure you want to delete this comment?')" class="action-button">Delete</button>
                                                </form>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %> <!-- SentBy -->
                            <% }); %> <!-- Foreach comment -->
                        <% } %> <!-- Comment object length -->
                    <% } %> <!-- Else Statement -->
                </div>
            <% if (user.roleName === 'admin') { %>
                <h2>Session Information</h2>
                <!-- Relevant operational data, only for admin -->
                <div class="session-debug">
                    <pre><%= JSON.stringify(dashboardContent.sessionData, null, 2) %></pre>
                </div>
            <% } %>
            <div class="dashboard-actions">
                <a href="/logout" class="logout-button submit-button">Logout</a>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer') %>