<%- include('../partials/header') %>
<main>
    <div class="tutorial-content">
        <h1><%= tutorial.title %></h1>
        <h2>By <%= tutorial.author %></h2>
        <p>Last updated on <%= tutorial.lastUpdated %></p>
        <p class="text"><%= tutorial.textContent %></p>
    </div>
</main>
<%- include('../partials/footer') %>