<%- include('../partials/header') %>
<main>
    <div class="tutorial-header">
        <h1><%= tutorial.title %></h1>
        <h2>By <%= tutorial.author %></h2>
        <p>Last updated on <%= tutorial.lastUpdated %></p>
    </div>

    <div class="tutorial-content">
        <p class="text">
            <%= tutorial.textContent %>
        </p>
    </div>
</main>
<%- include('../partials/footer') %>