<%- include('../partials/header') %>
<main>
    <div class="tutorial-header">
        <h1><%= tutorial.title %></h1>
        <h2>By <%= tutorial.author %></h2>
        <p>Last updated on <%= tutorial.lastUpdated %></p>
    </div>

    <div class="tutorial-content">
        <% paragraphs.forEach(paragraph => { %>
            <p class="paragraph">
                <%= paragraph %>
            </p>
        <% }); %>
    </div>
</main>
<%- include('../partials/footer') %>